/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}
*/


.signupSection {
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  top: 50px;
  width: 70%;
  height: 700px;
  text-align: center;
  display: flex;
  color: black;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .2);
  margin-bottom: 100px;
}

.info {
  font-size: 25px;
  color: white;
  font-family: Verdana;
  width: 45%;
  background: #ffc966;
  padding: 40px 0;
  border-right: 2px solid rgba(30, 30, 30, .8);
  h2 {
    padding-top: 30px;
    font-weight: 300;
  }
}

.signupForm {
  font: black;
  font-family: verdana;
  width: 70%;
  padding: 30px 0;
  background: white;
  transition: .2s;
  color: black;
}

.input_format {
  margin: 10px 0;
  font-size: 12px;
  padding: 10px 30px;
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  background: white;
  color: black;
  outline: none;
}

input{
    width: 90%;
    padding: 10px 20px;
    margin: 5px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    display: inline-block;
    outline: none;
}

#name_input {
  width: 36.5%;
}

#pass_error_msg {
  font-size: 10px;
}

.ui-datepicker {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-family: verdana;
  border-radius: 8px 8px 3px 3px;
  background-color:#fdfdfd;
}

.ui-datepicker-header {
  background-color: #3d9cee;
  color:white;
  text-align:center;
  font-family: verdana;
  height:30px;
  border-radius:8px 8px 0px 0px;
  text-decoration: none;
  padding-top: 10px;
}

.ui-datepicker-title{
  font-size: 15px;
  font-weight: 800;
}

.ui-datepicker-prev {
  float: left;
  margin: 0 30px;
}

.ui-datepicker-next {
  float: right;
  margin: 0 30px;
}



.ui-datepicker-calendar {
    text-align:center;
    padding:8px;
}
.ui-datepicker-calendar th {
  padding:10px;
}


.ui-datepicker-calendar .ui-state-default {
  text-decoration:none;
  color:black;
}
.ui-datepicker-calendar .ui-state-active {
    color: #2196f3;
}


#church_label {
  font-size: 14px;
  color: black;
  display:inline-block;
  margin-top:20px;
  margin-bottom:10px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

select {
  border:none;
  background: transparent;
  outline: none;
  text-decoration: underline;
  margin-bottom: 20px;
}

button {
  background-color: white;
  font-size: 15px;
  transition-duration: 0.2s;
  border: 2px solid #e7e7e7;
  display:inline-block;
  margin-top:20px;
  margin-bottom:10px;
  padding: 5px 5px;
  margin-left: 10px;
}

button:hover {
  background-color: #e7e7e7;
}

#cancel_btn {
  margin-right: 50px;
}
