body {
  background-color: #c0eaff
}

.sign_up_msg {
  margin-top: 80px;
  font-size: 170% ;
  color: white;
  font-weight: bold;
  text-shadow: .25px .5px 3px #999
}

.signupForm {
  padding: 30px 10;
  background: white;
  margin:auto;
  margin-top: 60px;
  position: relative;
  width: 85%;
  height: 800px;
  text-align: center;
  display: flex;
  color: black;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .2);
  margin-bottom: 120px;

}

.input_format {
  margin: 10px 0;
  font-size: 12px;
  padding: 10px 30px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background: white;
  color: black;
  outline: none;
}

input{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    display: inline-block;
    outline: none;
}


#pass_error_msg {
  font-size: 10px;
}




#church_label {
  font-size: 14px;
  color: black;
  display:inline-block;
  margin-top:20px;
  margin-bottom:10px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

select {
  border: none;
  background: transparent;
  margin-bottom: 20px;
  outline: none;
}

.sign_up_btn {
  background-color: white;
  font-size: 15px;
  transition-duration: 0.2s;
  border: 2px solid #e7e7e7;
  display:inline-block;
  margin-top:20px;
  margin-bottom:10px;
  padding: 5px 5px;
  margin-left: 5px;
  margin-right: 5px;
}


.sign_up_btn:hover {
  background-color: #e7e7e7;
}

.row {
  margin:0;
}

@media (min-width:48.1em){
  .signupForm {
    width: 30%
  }
  .input_format {
    width: 80%
    margin-left: 10%;
  }
}

input {
  border-radius: 0;
}
