#log-in_button {
  position: absolute; top: 50; right:0;
  background-color: #FFFFFF; /* Green */
  border: none;
  color: gray;
  padding: 30px 160px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#log-in_link {
  text-decoration: none;
  color:gray;
}


#feedback_button {
  position: absolute; top:50; right: 0; left:100;
  background-color: #FFFFFF; /* Green */
  border: none;
  color: gray;
  padding: 30px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


ul {
  text-decoration: none;
  background-color: #ffedcc;
  padding: 10px 80px;
  margin-top: 160px;
  margin-left: 0px;
}

li {
  text-decoration: none;
  display: inline;
  margin-left: 100px;
  font: 20px arial, sans-serif;
  color: black;
  font-weight: 1000;
}

#menu_list {
  color: black;
  text-decoration: underline;
  text-decoration-color: #ff4500;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
