/* Full-width input fields */
input[type=text], input[type=password] {
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
  padding: 8px 25px;
  margin: 8px 0;
  display: inline-block;;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#name_input {
  width: 25%;
  margin: 2px 0;
}
