{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/log-in.css">
<div id="pg_title"> <b>Sign up</b>  </div>
<div class="form_container1">
<div class="form_container2">
<form id="user_sign_fm" action="/sign_up" method="post"> {% csrf_token %}
  <div id="form input">
  <input type="text" placeholder="Enter Email" name="Email" required><br>
  <input id="user_id" type="text" placeholder="Create ID" name="ID" required><br>
  <input id= 'pass' type="password" placeholder="Enter Password" name="Pass" required><br>
  <input id= 'pass_repeat' type="password" placeholder="Repeat Password" name="Pass-repeat" required>
  <p id= 'pass_error_msg'> </p>

  <input id="name_input" type="text" placeholder="Enter First Name" name="FirstName" required>
  <input id="name_input" type="text" placeholder="Enter Last Name" name="LastName" required><br>

  <input type="text" placeholder="Enter m-d-yyyy" name="DOB" required><br>

  <label><b>Church you serve</b></label><br>
  <select id="church_drop" name="ChurchID">
  </select>
  <div id= "add_church"> You don't see your church? Register your church <a id="here_link" href="#"> here </a>
  </div>
  <br>
  <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p><br>
  <div id="error_msg"> </div>
  <div class="clearfix">
    <button id="sign-up_btn" type="button">Sign Up</button>
    <button id="cancel_btn" type="button">Cancel</button>
  </div>

</form>
</div>
</div>
<script type= 'text/javascript' src="/static/church_drop.js"></script>
<script type='text/javascript' src="/static/log-in.js"></script>

{% endblock %}
