{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/log_in.css">
  <div class="row">
    <p class="text-center log_in_msg"> Glad You Are Back! </p>
  </div>
  <div class= "row">
    <div class="center-block">
      <div class= "row log_in_input">
        <p class="text-center log-in-header">User Log In</p>
        <div class="form-group">
          <input type="text" class="form-control text-center" id="username" placeholder="Enter Username" name="username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control text-center" id="pass" placeholder="Enter Password" name="password">
        </div>

      </div>
      <div class= "row">
        <button type="button" class="btn btn-primary btn-block">Log In</button>
      </div>
      <div class="row bottom_msg">
        <p class="text-center"> Don't have an account yet? <a href="/user_sign_up"> sign up </a> </p>
        <p class="text-center"> Log into church account? <a> here </a> </p>
      </div>
    </div>

  </div>
{% endblock %}
